/*
    information style
 */

.information {
  padding: 153px 0 83px;

  @include mq(md) {
    padding: 12px 0 77px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .ellipse {

      &.small {
        width: 174px;
        height: 174px;
        top: -34px;
        right: -131px;

        @include mq(lg) {
          right: 0;
        }

        @include mq(md) {
          top: calc(100% - 123px);
          right: -46px;
        }
      }

      &.big {
        width: 241px;
        height: 241px;
        top: 174px;
        left: -255px;

        @include mq(xl) {
          top: 0;
          left: 0;
        }

        @include mq(md) {
          width: 138px;
          height: 138px;
          top: -21px;
          left: calc(100% - 111px);
        }
      }
    }
  }

  h3 {
    width: 100%;
    margin-left: 11px;
    margin-bottom: 81px;
    position: relative;

    @include mq(md) {
      margin-bottom: 37px;
    }

    @include mq(s) {
      margin-left: 0;
    }

    &:before {
      /* скрыть на xs */
      content: "";
      display: block;
      width: 116px;
      height: 117px;
      background: url("../img/information.png") no-repeat center/cover;
      position: absolute;
      top: -156px;
      left: 328px;

      @include mq(xs) {
        display: none;
      }
    }
  }

  .review, .delivery {
    box-sizing: border-box;
    width: 50%;
  }

  .review {
    padding: 0 81px 0 11px;

    @include mq(lg) {
      padding-right: 31px;
    }

    @include mq(md) {
      width: 100%;
      padding-right: 11px;
      margin-bottom: 68px;
    }

    @include mq(s) {
      padding: 0;
    }

    .slider {
      box-sizing: border-box;
      padding-right: 8px;

      &-item {

        figure {

          p {
            margin-bottom: 9px;

            @include mq(xs) {
              font-size: 18px;
              line-height: 23px;
              margin-bottom: 2px;
            }
          }

          span {
            font-size: 24px;
            line-height: 31px;
            color: #8145ff;
          }

          &:nth-child(1) {
            margin-bottom: 35px;
          }
        }
      }
    }

    .nav {
      width: 180px;
      display: flex;
      justify-content: space-between;
      margin: 45px 0 0 auto;

      .prev-arrow, .next-arrow {
        width: 50px;
        height: 50px;
        background: #dce0f7;
        box-shadow: -5px -5px 10px #d3d8ef, 5px 5px 10px #b1b9d5;
        border-radius: 50%;
        position: relative;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          width: 13px;
          height: 23px;
          background: url("../img/arrow.png") no-repeat center/cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .next-arrow {

        &:after {
          transform: translate(-50%, -50%) scale(-1, 1);
        }
      }
    }
  }

  .delivery {
    padding: 0 43px 0 53px;
    margin-top: 2px;

    @include mq(lg) {
      padding: 0 20px;
    }

    @include mq(md) {
      width: 100%;
      padding: 0;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include mq(s) {
        align-items: baseline;
      }

      figure {
        width: 202px;

        @include mq(md) {
          width: 24%;
        }

        @include mq(s) {
          width: 48%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        @include mq(xs) {
          width: 100%;
          margin-bottom: 40px;
        }

        span {
          display: block;
          width: 80px;
          height: 80px;
          background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #8145ff;
          background-blend-mode: soft-light, normal;
          box-shadow: -5px -5px 10px #d3d8ef, 5px 5px 10px #b1b9d5;
          border-radius: 50%;
          position: relative;
          margin-bottom: 13px;

          @include mq(md) {
            margin: 0 auto 13px;
          }

          @include mq(s) {
            margin: 0;
          }

          &:after {
            content: "";
            display: block;
            font-family: $fb, sans-serif;
            font-size: 55px;
            line-height: 55px;
            color: #e0e4f8;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        p {

          @include mq(md) {
            text-align: center;
          }

          @include mq(s) {
            width: calc(100% - 90px);
            text-align: left;
          }

          @include mq(xs) {
            font-size: 18px;
            line-height: 23px;
          }
        }

        &:first-child {
          margin-bottom: 94px;

          @include mq(md) {
            margin-bottom: 0;
          }

          @include mq(s) {
            margin-bottom: 40px;
          }

          span {

            &:after {
              content: "1";
            }
          }
        }

        &:nth-child(2) {

          span {

            &:after {
              content: "2";
            }
          }
        }

        &:nth-child(3) {

          span {

            &:after {
              content: "3";
            }
          }
        }

        &:last-child {

          @include mq(xs) {
            margin-bottom: 0;
          }

          span {

            &:after {
              content: "4";
            }
          }
        }
      }
    }
  }
}