/*
    footer style
 */

.footer {
  padding: 54px 0 46px;

  @include mq(md) {
    padding: 37px 0 43px;
  }

  .container {
    position: relative;
  }

  &__content {
    width: 587px;
    margin-left: auto;
    position: relative;

    @include mq(md) {
      width: 100%;
    }

    img.logo {

      @include mq(xs) {
        width: 51%;
        min-width: 150px;
        max-width: 180px;
      }
    }

    span.sale {
      margin: 34px 0 14px;

      @include mq(s) {
        margin: 7px 0 20px;
      }
    }

    &-img {
      width: 107%;
      max-width: 626px;
      position: relative;
      position: absolute;
      top: 64px;
      right: calc(100% + 13px);

      @include mq(xl) {
        right: 92%;
      }

      @include mq(md) {
        width: 626px;
        top: -60px;
        right: -220px;
      }

      @include mq(s) {
        width: 100%;
        max-width: 626px;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto -15%;
      }

      @include mq(xs) {
        width: 112%;
        min-width: 327px;
        left: -5%;
        margin: 0 0 -15%;
      }

      img {
        width: 100%;
      }

      .ellipse {

        &.small {
          width: 225px;
          height: 225px;
          bottom: 17px;
          right: 26px;

          @include mq(s) {
            width: 146px;
            height: 146px;
            bottom: 32px;
            left: 1px;
          }
        }

        &.big {
          width: 400px;
          height: 400px;
          top: 32px;
          right: 226px;

          @include mq(s) {
            width: 277px;
            height: 277px;
            top: -7px;
            right: -5px;
          }
        }
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        width: 97px;
        height: 98px;
        background: url("../img/footer/3.png") no-repeat center/cover;
        top: -52px;
        right: 379px;

        @include mq(lg) {
          right: 10px;
        }
      }

      &:after {
        /* показать на s */
        display: none;
        width: 116px;
        height: 123px;
        background: url("../img/footer/4.png") no-repeat center/cover;

        @include mq(s) {
          display: block;
          top: 51px;
          right: 17px;
          z-index: -1;
        }
      }
    }

    .price {

      span {

        &.old-price {
          margin-left: 0;
        }
      }
    }

    h4 {
      margin: 22px 0 -7px;

      @include mq(s) {
        margin: 28px auto 2px;
      }
    }

    h2 {

      @include mq(md) {
        max-width: 407px;
      }

      @include mq(s) {
        max-width: 100%;
        position: relative;
      }

      &:before {
        content: "";
        display: block;
        width: 202px;
        height: 191px;
        background: url("../img/footer/5.png") no-repeat center/auto;
        position: absolute;
        bottom: -46px;
        //top: 190px;
        right: -145px;

        @include mq(md) {
          bottom: -43px;
          right: 18px;
        }

        @include mq(s) {
          width: 131px;
          height: 139px;
          top: -49px;
          right: -12px;
          z-index: -1;
        }
      }
    }

    p.big {
      margin: 7px auto 47px;

      @include mq(md) {
        max-width: 450px;
        margin: 7px 0 47px;
      }

      @include mq(s) {
        max-width: 100%;
        margin-bottom: 29px;
      }
    }

    form {
      width: 530px;

      @include mq(md) {
        margin: 0 auto;
      }

      @include mq(xs) {
        width: 260px;
      }

      .form-group {

        &.tel {

          @include mq(xs) {
            margin: 10px auto 16px;
          }
        }

        &.order {

          @include mq(xs) {
            margin: 0 auto;
          }
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      width: 68px;
      height: 66px;
      background: url("../img/footer/1.png") no-repeat center/cover;
      top: 0;
      right: 0;

      @include mq(md) {
        width: 52px;
        height: 52px;
        top: -37px;
        right: 28px;
      }
    }

    &:after {
      width: 42px;
      height: 41px;
      background: url("../img/footer/2.png") no-repeat center/cover;
      bottom: 95px;
      left: -439px;

      @include mq(lg) {
        left: -339px;
      }

      @include mq(md) {
        bottom: -36px;
        left: -5px;
      }
    }
  }
}