/*
    camera style
 */

.camera {
  padding: 21px 0 66px;

  @include mq(md) {
    padding: 9px 0 32px;
  }

  &__content {

    &-video {
      width: 700px;
      height: 367.5px;
      margin-left: auto;
      position: relative;
      right: -100px;
      cursor: pointer;
      box-shadow: -5px -5px 10px #d3d8ef,
                    5px 5px 10px #b1b9d5;
      border-radius: 10px;
      //margin-bottom: 383.5px;

      @include mq(xl) {
        width: 600px;
        right: 0;
      }

      @include mq(lg) {
        width: 700px;
        margin: 0 auto 42px;
      }

      @include mq(s) {
        width: 100%;
        height: auto;
        padding-bottom: 52%;
      }

      img {
        border-radius: inherit;
      }

      .video-play {
        width: 81px;
        height: 79px;
        background: url("../img/camera/video-play.png") no-repeat center/cover;
        border-radius: 50%;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #d3d8ef, 5px 5px 10px #b1b9d5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @include mq(xs) {
          width: 35px;
          height: 34px;
        }
      }
    }

    &-text {
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: -290px;

      @include mq(lg) {
        width: 100%;
        display: block;
        margin-top: 0;
      }

      h3 {
        margin-bottom: 5px;
        order: 2;
      }

      p {
        order: 3;

        @include mq(lg) {
          margin-bottom: 51px;
        }
      }

      figure {
        order: 1;
        position: relative;
        //position: absolute;
        //top: -673px;
        //right: -64px;
        width: 1080px;
        right: 416px;
        pointer-events: none;

        @include mq(lg) {
          right: 64px;
        }

        @include mq(md) {
          width: 980px;
          right: 200px;
        }

        @include mq(s) {
          width: 768px;
          right: 185px;
        }

        @include mq(xs) {
          width: 417px;
          right: 107px;
        }

        //@include mq(xl) {
        //  right: -84px;
        //}
        //
        //@include mq(lg) {
        //  position: relative;
        //  top: 0;
        //  right: 64px;
        //}
        //
        //@include mq(md) {
        //  right: 45%;
        //}
        //
        //@include mq(s) {
        //  right: 80%;
        //}

        h4 {
          color: #4a506a;
          text-align: right;
          position: relative;

          @include mq(xs) {
            font-size: 18px;
            line-height: 23px;
          }

          &:after {
            content: "";
            display: block;
            width: 1px;
            background: #4a506a;
            position: absolute;
            top: 0;
            right: -15px;

            @include mq(xs) {
              right: -5px;
            }
          }

          &:first-of-type {
            margin-right: 136px;

            @include mq(s) {
              margin-right: 105px;
            }

            @include mq(xs) {
              margin-right: 50px;
            }

            &:after {
              height: 224px;

              @include mq(s) {
                height: 210px;
              }

              @include mq(xs) {
                height: 224px;
              }
            }
          }

          &:nth-of-type(2) {
            margin: 61px 246px 61px 0;

            @include mq(s) {
              margin-right: 180px;
            }

            @include mq(xs) {
              margin: 41px 92px 54px 124px;
            }

            &:after {
              height: 132px;

              @include mq(s) {
                height: 118px;
              }

              @include mq(xs) {
                height: 132px;
                top: 28px;
              }
            }
          }

          &:last-of-type {
            margin: 0 346px -42px 0;

            @include mq(s) {
              margin-right: 255px;
              margin-bottom: -32px;
            }

            @include mq(xs) {
              margin: 0 130px -6px 100px;
            }

            &:after {
              height: 31px;

              @include mq(s) {
                height: 17px;
              }

              @include mq(xs) {
                height: 31px;
                top: 29px;
              }
            }
          }
        }

        img {
          width: 100%;
        }

        .ellipse {
          width: 360px;
          height: 360px;
          top: 447px;
          left: calc(100% + 132px);

          @include mq(lg) {
            top: -26px;
            left: 44px;
          }

          @include mq(md) {
            width: 237px;
            height: 237px;
          }
        }

        &:before, &:after {
          content: "";
          display: block;
          position: absolute;
        }

        &:before {
          width: 67px;
          height: 65px;
          background: url("../img/camera/1.png") no-repeat center/cover;
          top: 693px;
          left: calc(100% + 562px);

          @include mq(xl) {
            left: 100%;
          }

          @include mq(lg) {
            top: 0;
            left: 107px;
          }

          @include mq(md) {
            left: 207px;
          }

          @include mq(xs) {
            width: 28px;
            height: 27px;
            top: -5px;
            left: 107px;
          }
        }

        &:after {
          width: 228px;
          height: 236px;
          background: url("../img/camera/2.png") no-repeat center/cover;
          bottom: 624px;
          right: 426px;

          @include mq(lg) {
            bottom: -104px;
            right: 17px;
          }

          @include mq(xs) {
            width: 114px;
            height: 117px;
            bottom: -52px;
          }
        }
      }
    }
  }
}