/*
    gallery style
 */

.gallery {

  @include mq(md) {
    padding: 17px 0 62px;
  }

  &__content {

    a {

      &:nth-child(5) {

        &:before {
          content: "";
          display: block;
          width: 226px;
          height: 228px;
          background: url("../img/gallery/1.png") no-repeat center/cover;
          position: absolute;
          bottom: -85px;
          left: -131px;
          z-index: -1;

          @include mq(xxl) {
            bottom: -160px;
            left: -80px;
            pointer-events: none;
          }

          @include mq(xl) {
            width: 67px;
            height: 69px;
            bottom: -60px;
            left: -10px;
          }

          @include mq(s) {
            display: none;
          }
        }
      }

      &:nth-child(7) {

        &:before {
          content: "";
          display: none;
          width: 67px;
          height: 69px;
          background: url("../img/gallery/1.png") no-repeat center/cover;
          position: absolute;
          bottom: -60px;
          left: -10px;

          @include mq(s) {
            display: block;
          }
        }
      }
    }
  }
}