/*
    catalog start
 */

.catalog {
  padding: 40px 0 78px;

  @include mq(md) {
    padding: 30px 0 73px;
  }

  h3 {
    margin-bottom: 2px;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 120px;
      height: 122px;
      background: url("../img/catalog/1.png") no-repeat center/cover;
      position: absolute;
      top: 35px;
      right: -175px;

      @include mq(xxl) {
        top: 0;
        right: 0;
      }

      @include mq(md) {
        width: 51px;
        height: 52px;
        top: 32px;
        right: 16px;
      }
    }
  }

  span.title {
    font-size: 18px;
    line-height: 23px;
    color: #7f87a3;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: calc(100% + 91px);
    left: -56px;
    margin-top: 41px;

    @include mq(xl) {
      width: calc(100% + 40px);
      left: 50%;
      transform: translate(-50%);
    }

    @include mq(lg) {
      width: 100%;
    }

    &-block {
      box-sizing: border-box;
      width: 49%;
      max-width: 600px;
      padding: 39px 24px 27px 35px;
      background: #d5daf1;
      box-shadow: -5px -5px 10px #d3d8ef, 5px 5px 10px #b1b9d5;
      border-radius: 10px;
      position: relative;

      @include mq(lg) {
        padding: 39px 25px 35px;
      }

      @include mq(md) {
        padding: 72px 15px 35px;
      }

      @include mq(s) {
        width: 350px;
        margin: 0 auto 50px;
      }

      @include mq(xs) {
        padding: 72px 10px 35px;
      }

      &__info {
        width: 318px;
        margin-left: auto;

        @include mq(lg) {
          width: 100%;
        }

        .color {
          display: flex;
          align-items: flex-end;

          @include mq(lg) {
            justify-content: center;
          }

          span {
            text-transform: uppercase;
            margin-left: 5px;
            margin-bottom: 11px;
            color: #13182f;
          }
        }

        .price {
          max-width: 100%;
          height: 46px;

          span {

            &.new-price {
              display: inline-block;
            }

            &.old-price {
              display: inline-block;
            }
          }
        }

        >p {
          font-family: $fd, sans-serif;
          font-size: 36px;
          line-height: 46px;
          color: #7f87a3;
          display: none;
        }

        >p, .price {
          margin: -2px 0 14px;

          @include mq(lg) {
            margin: -2px auto 14px;
            text-align: center;
          }
        }

        ul {

          li {

            p {
              font-size: 16px;
              line-height: 24px;

              span {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                display: inline-block;
                width: 159px;

                @include mq(xs) {
                  width: auto;
                  margin-right: 5px;
                }
              }
            }
          }
        }

        .images {
          position: absolute;
          top: 68px;
          left: 39px;
          max-width: 180px;

          @include mq(lg) {
            position: static;
            margin: 21px auto 0;
          }

          .slider {

            figure {

              img {
                margin: 0;
              }
            }

            ul.slick-dots {
              display: flex;
              justify-content: center;
              margin: 4px auto 0;

              li {
                width: 8px;
                height: 8px;
                background: #7f87a3;
                border-radius: 50%;
                margin-right: 6px;

                button {
                  opacity: 0;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  border-radius: inherit;
                }

                &.slick-active {
                  background: #45bcff;
                }
              }
            }

          }
        }
      }

      form {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 49px;

        @include mq(lg) {
          width: 100%;
        }

        .form-group {

          @include mq(lg) {
            width: 48%;
          }

          @include mq(md) {
            width: 100%;
            max-width: 260px;
            margin: 0 auto;
          }

          &.tel {

            @include mq(md) {
              margin: 10px auto 16px;
            }
          }

          &.order {
            margin: 24px auto 0;

            @include mq(lg) {
              width: 100%;
            }

            @include mq(md) {
              margin: 0 auto;
            }

            button {
              margin: 0 auto;
            }
          }
        }
      }

      &:after {
        display: block;
        font-family: $fm, sans-serif;
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        width: 131px;
        padding: 8px 0 6px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ffb545;
        background-blend-mode: soft-light, normal;
        border-radius: 5px;
        position: absolute;
        top: 17px;
        left: -21px;
      }

      &.blue, &.black {
        margin-bottom: 70px;

        @include mq(s) {
          margin-bottom: 50px;
        }
      }

      &.blue {

        &:after {
          content: "осталось 5 шт.";
        }
      }

      &.black {

        &:after {
          content: "осталось 9 шт.";
        }
      }

      &.white {

        &:after {
          content: "осталось 5 шт.";
        }
      }

      &.silver {
        opacity: .7;

        @include mq(s) {
          margin-bottom: 0;
        }

        .catalog__content-block__info {

          .price {
            display: none;
          }

          >p {
            display: block;
          }
        }

        &:after {
          content: "осталось 0 шт.";
        }
      }
    }

    .ellipse {

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: none;
      }

      @include mq(xl) {
        display: none;
      }

      &.small {
        width: 360px;
        height: 360px;
        top: 239px;
        left: -229px;
      }

      &.big {
        width: 536px;
        height: 536px;
        bottom: -68px;
        right: -235px;
      }
    }

    &:before {
      content: "";
      display: block;
      width: 210px;
      height: 210px;
      background: url("../img/catalog/2.png") no-repeat center/cover;
      position: absolute;
      bottom: 196px;
      right: calc(100% - 81px);

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: none;
      }

      @include mq(xl) {
        width: 148px;
        height: 148px;
        bottom: -110px;
        right: -49px;
      }
    }
  }
}